<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vague — meet and call!</title>
    <link rel="stylesheet" href="../static/styles/style.css" th:href="@{/styles/style.css}"/>
  </head>
  <body>
    <header class="header">
      <h1 class="vague-title">Vague</h1>
    </header>
    <div class="container">
        <div class="row-cards search-cards">
          <div class="vague-card ban-card">
            <form name = "change-blacklist" class="change-settings">
              <p class="field-name">Логин</p>
              <input type="text" id="login" required />
              <div class="container-btn-save blacklist-buttons">
                <button type="submit" class="btn-save btn-search" onclick="banUsers()">Забанить</button>
                <button type="submit" class="btn-save btn-search" onclick="unbanUsers()">Разбанить</button>
              </div>            
            </form>
            </div>
          <!--<div class="vague-card search-card">
            <form name = "change-settings" class="change-settings" method="POST" action="">
              <p class="field-name">Возраст</p>
              <input type="range" min="18" max="90" step="1" value="18" id="age"> 
              <p class="field-name">Пол</p>
              <input type="radio" id="Male" value="Male" name="gender"><label class="field-name">Мужской</label>
              <input type="radio" id="Female" value="Female" name="gender"><label class="field-name">Женский</label>
              <div class="container-btn-save"><button type="submit" class="btn-save btn-search" href="/">Поиск</button></div>
            </form>
        </div>
      -->
        <div class="vague-card table-card">
          <table class="table-questionnaries" id="usersOfBan">
            <tr>
              <td><label class="field-name">Логин</label></td>
              <td><label class="field-name">Дата бана</label></td>
            </tr>
            <tr th:each="user : ${users}">
                <td><label class="field-name" th:text="${user.login}"></label></td>
                <td><label class="field-name" th:text="${user.date_of_ban}"></label></td>
            </tr>
          </table>
        </div>
      </div>
  </div>

  <script>
    function banUsers(){
      var xhttp = new XMLHttpRequest();
      var login = document.getElementById("login").value;
      xhttp.open("GET", "http://localhost:8081/admin/blacklist/ban/" + login, false);
      xhttp.send();
    }

    function unbanUsers(){
      var xhttp = new XMLHttpRequest();
      var login = document.getElementById("login").value;
      xhttp.open("GET", "http://localhost:8081/admin/blacklist/unban/" + login, false);
      xhttp.send();

    }
  </script>

  </body>
</html>
