<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vague — знакомься и звони!</title>
    <link rel="stylesheet" href="styles/style.css"/>
</head>
<body>
<header class="header">
    <h1 class="vague-title">Vague</h1>
</header>
<div class="container">
    <div class="vague-card description">
        <p class="description-text">— это сервис для знакомств</p>
        <ol class="description-text">
            <li>Зарегистрируйся</li>
            <li>Отфильтруй по своим предпочтениям</li>
            <li>Лайкни, кто тебе нравится</li>
            <li>Проверь мэтч</li>
            <li>
                Есть мэтч? Звони! Теперь номер пользователя стал для тебя доступен!
            </li>
        </ol>
        <div class="main-href"><a href="/success" id="success" class="welcome-il"><label for="success" class="description-text">Добро пожаловать в мир знакомств!</label></a>
        </div>
    </div>
</div>
</body>
</html>