<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vague — meet and call!</title>
    <link rel="stylesheet" href="../static/styles/style.css" th:href="@{/styles/style.css}"/>
    <script src="../static/script.js" th:src="@{script.js}"></script>
  </head>
  <body>
    <header class="header">
      <h1 class="vague-title">Vague</h1>
    </header>
    <div class="container">
      <div class="vague-card description">
        <p class="description-text">— это сервис для знакомств</p>
        <ol class="description-text">
          <li>Зарегистрируйся</li>
          <li>Отфильтруй по своим предпочтениям</li>
          <li>Лайкни, кто тебе нравится</li>
          <li>Проверь мэтч</li>
          <li>
            Есть мэтч? Звони! Теперь номер пользователя стал для тебя доступен!
          </li>
        </ol>
      </div>
      <div class="row-cards">
        <div class="vague-card login">
          <h1 class="new-user-title">Авторизация</h1>
          <form name="vague-authorization" method="get" action="/usermain">
            <p class="field-name">Логин</p>
            <input type="text" name="login" required />
            <p class="field-name">Пароль</p>
            <input type="password" name="password" required /><br>
            <button type="submit" class="btn-block" href="/">Войти</button>
          </form>
        </div>

        <div class="vague-card registration">
          <h1 class="new-user-title">В первый раз?</h1>
          <form name="vague-registration" method="get" action="/settings">
            <p class="field-name">Ваше имя</p>
            <input type="text" name="name_user" required />
            <p class="field-name">Логин</p>
            <input type="text" name="login" required />
            <p class="field-name">Пароль</p>
            <input type="password" name="password" required />
            <p class="field-name" id="one">Возраст</p>
            <input type="range" min="18" max="90" step="1" value="18" id="age" oninput="rangeValueAge()">
            <button type="submit" class="btn-block" href="/">
              Зарегистрироваться
            </button>
          </form>
        </div>
      </div>


      <!--<button type="submit" class="btn-block" href="/login" onclick="View()">qwerty</button>-->
      <form action="/adminmain">
        <button type="submit">вход для админа (временно)</button>
      </form>

    </div>

  <!--<script>

    function View(){
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.open("DELETE", "http://localhost:8081/login", true);
      xmlhttp.setRequestHeader("Content-Type", "application/json");
      var str = "women2";
      xmlhttp.send(JSON.stringify({login: str}));
    }
  </script>
-->

  </body>
</html>
