<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vague — meet and call!</title>
    <link rel="stylesheet" href="styles/style.css"/>
</head>
<body>
<header class="header">
    <h1 class="vague-title">Vague</h1>
</header>
<div class="row-cards login-card">
    <div class="vague-card login">
        <h1 class="new-user-title">Авторизация</h1>
        <form name="vague-authorization" method="post" action="/login">
            <p class="field-name">Логин</p>
            <input type="text" name="username" required />
            <p class="field-name">Пароль</p>
            <input type="password" name="password" required /><br>
            <button type="submit" class="btn-block btn-login" href="/">Войти</button>
        </form>
        <h1 class="new-user-title new-user-title-login"><a href="/registration" id="registration" class="registration-href">В первый раз?</a></h1>
    </div>
</div>
</body>
</html>