<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vague — meet and call!</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}"/>
    <script src="../static/script.js" th:src="@{script.js}"></script>
  </head>
  <body>
    <header class="header">
      <h1 class="vague-title">Vague</h1>
    </header>
    <div class="container">
        <div class="row-cards search-cards">
          <div class="vague-card search-card">
            <form name = "change-settings" class="change-settings">
              <p class="field-name" id="one">Возраст</p>
              <input type="range" min="18" max="90" step="1" value="18" id="age" oninput="rangeValueAge()">
              <p class="field-name">Пол</p>
              <input type="radio" id="Male" value="Male" name="gender"><label class="field-name">Мужской</label>
              <input type="radio" id="Female" value="Female" name="gender"><label class="field-name">Женский</label>
              <div class="container-btn-save"><button type="submit" class="btn-save btn-search" href="/">Поиск</button></div>
            </form>
        </div>
        <div class="vague-card table-card">
          <table class="table-questionnaries" id="usersQuestionnaries">
            <tr>
              <td><label class="field-name">Имя</label></td>
              <td><label class="field-name">Возраст</label></td>
              <td><label class="field-name">Пол</label></td>
              <td class="about-me"><label class="field-name">О себе</label></td>
              <td><button class="btn-like">Лайк</button></td>
            </tr>
            <tr>
              <td><label class="field-name">Вася ЕБАНЫЙ</label></td>
              <td><label class="field-name">1000</label></td>
              <td><label class="field-name">Мужской</label></td>
              <td class="about-me"><label class="field-name">Описание</label></td>
              <td><button class="btn-like">Лайк</button></td>
            </tr>
          </table>
        </div>
      </div>
  </div>
</body>
</html>
