<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vague — meet and call!</title>
    <link rel="stylesheet" href="styles/style.css"/>
</head>
<body>
<header class="header">
    <h1 class="vague-title">Vague</h1>
</header>
{{#message}}
    {{message}}
{{/message}}
<div class="row-cards registration-cards">
    <div class="vague-card registration">
        <h1 class="new-user-title">В первый раз?</h1>
        <form name="vague-registration" method="post" action="/registration">
            <p class="field-name">Логин</p>
            <input type="text" name="login" required />
            <p class="field-name">Пароль</p>
            <input type="password" name="password" required />

            <p class="field-name">Имя</p>
            <input type="text" name="name" required />

            <p class="field-name" id="age">Возраст</p>
            <input type="range" min="18" max="90" step="1" value="18" id="age" oninput="rangeValueAge()">

            <p class="field-name">Пол</p>
            <input type="text" name="gender" required />

            <p class="field-name">Город</p>
            <input type="text" name="place" required />

            <p class="field-name">Расскажите о себе</p>
            <textarea maxlength="500" class="bio" name="info" required></textarea>

            <p class="field-name">Номер телефона</p>
            <input type="tel" id="phone" name="phone" placeholder="79270243342" pattern="[0-9]{11}" required>

            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <button type="submit" class="btn-block">
                Зарегистрироваться
            </button>
        </form>
    </div>
</div>



<!--<form action="/registration" method="post">
    <div><label> User Name : <input type="text" name="login"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <div><input type="submit" value="Register"/></div>
</form>
-->
</body>
</html>

